* {
  font-family: Arial, Helvetica, sans-serif;
}

body  {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 100vw;
}

.selectors {
  display: flex;
  align-items: flex-start;
  flex: 1 0 auto;
}

select {
  border: 1px solid #004d26;
  border-radius: 2px;
  background: #ffffff;
  padding: 5px;
  font-weight: bold;
}

.description {
  background: #f8f8f8;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header {
  width: 100vw;
  height: 5vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: #eeeeee;
  margin-bottom: 2vw;
}

.header h1 {
  width: 1040px;
  margin: auto;
  padding-top: 1vw;
  text-align: center;
}

